.p1{
  font-family: "FormulaBold";
  color: #ddd;
  text-align: left;
  margin-top: 1.5%;
  margin-left: 1%;
}

.p2{
  font-family: "FormulaRegular";
  color: #ddd;
  text-align: left;
  margin-top: 10px;
}