@font-face {
  font-family: "FormulaBold";
  src: url(data/font/Bold.ttf);
}
@font-face {
  font-family: "FormulaRegular";
  src: url(data/font/Regular.ttf);
}

body {
    background-color: #38383F;
}




/* Background color top navigation */
.topnav {
    background-color: #E10600;
    overflow: hidden;
    font-family: "FormulaRegular";
  }
  
  /* Links navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #15151E;
    color: white;
  }